.root {
	-fx-background-color: #78D7D0;
	-fx-text-fill: #83EA83;
	-fx-font-family: 'Comic Sans MS';
    -fx-background-color: linear-gradient(from 25px 25px to 400px 400px, #ADEEE7, #78D8CD);
}

.title {
	-fx-font-size: 40;
}

.button {
    -fx-background-color: #178F86;
}

.button:hover {
	-fx-background-color: #309F97;
}

.button:pressed {
	-fx-background-color: #FF9D4C;
    -fx-text-fill: red;
}

